.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    font-weight: 400;
  }

  button {
    width: 335px;
    height: 67px;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    background-image: url(../../assets/images/kakao-btn-border.png);
    mix-blend-mode: multiply;
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
    }
  }
}
