.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: displaySignInPage 0.8s ease-in-out forwards;

  h1 {
    font-size: 50px;
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
  }

  button {
    width: 335px;
    height: 67px;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    background-image: url(../../assets/images/kakao-btn-border.png);
    mix-blend-mode: multiply;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }

    span {
      font-family: 'Pretendard-Regular';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }
}

@keyframes displaySignInPage {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
